@font-face {
    font-family: Inter;
    src: url(../../fonts/inter.ttf);
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: arial;
    color: white;
}

#loading {
    color: white;
    display: none;
    text-align: center;
}

#error-dialog {
    color: #fff;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(12,12,12,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#retry-btn, #cancel-btn {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}

#retry-btn {
    background-color: #2b2b2b;
    color: #fff;
}

#cancel-btn {
    background-color: #f44336;
    color: #fff;
}

button {
    border-color: transparent;
    border-radius: 12px;
}